body {
	background:rgba(255,255,255,1);
    background:#fff;
}

#adwrapper {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    background:#222;
    overflow:hidden;
    display:none;
    z-index:500;
}
#adwrapper a.boxclose {
    position:fixed;
    bottom:2px;
    right:2px;
    width:32px;
    height:0px;
    cursor:pointer;
    color:#fff;
    border:2px solid #AEAEAE;
    border-radius:36px;
    background:#605F61;
    font-size:36px;
    font-weight:bold;
    display:none;
    line-height:0px;
    padding:14px 6px;
    z-index:500000;
    text-decoration:none;
    cursor:pointer;
}
#adwrapper .boxclose:before {
    content:"×";
    margin-left:-4px;
    line-height:.2;
    text-decoration:none;
}
nav.top-bar {
    z-index:99;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom:0px;
}
li.name {
    position:relative;
}
div#name1 {
    top:.5em;
    left:.5em;
    position:absolute;
    height:1.8em;
    width:18em;
}
div#name2 {
    top:.5em;
    left:.5em;
    position:absolute;
    height:1.8em;
    width:18em;
    opacity:0;
}
div#name2 h1 {
    font-size:1.8em;
    line-height:1;
    font-weight:300;
    color:#fff;
}
p.byline {
    text-align:center;
    font-size:.9em;
    margin-bottom:4em;
}
p.bylinebottom {
    text-align:center;
    font-size:.9em;
    margin-top:1em;
}
#logoimg {
    margin:.0;
    height:1.8em;
}
#logosmall {
    margin:0 2em 0 0;
    height:1.8em;
    display:inline-block;
    float:left;
}
div.topwrap {
    position:relative;
    display:block;
}
div.darkback {
    background-color:#222;
    color:#f5f5f5;
}

.darkback_vid{
    clear:both;
    display:block;
    margin-bottom:3em;
}

.darkback_intro{
    padding:5em 0;
    height:100%;
}

.opener-story {
    background-position:center center; 
    background-repeat:no-repeat; 
    background-color: black;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:100%;
    width:100%;
    overflow:hidden;
    position:relative;
    padding:0;
    z-index:10;
}

.opener-intro {
    background-position:center center; 
    background-repeat:no-repeat; 
    background-color: black;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:100%;
    width:100%;
    overflow:hidden;
    position:relative;
    padding:0;
    z-index:10;
}

.vid-opener {
    background-position:center; 
    background-repeat:no-repeat; 
    background-size:cover;
    background-color: black;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-attachment:absolute;
    width:100%;
    height:auto;
    overflow:hidden;
    position:relative;
    padding:0;
    z-index:10;
}

.opener1 {
    background-image:url('../img/storyinstagrams/collage.jpg');
    margin:0 0 5em;
}


.clear {
    width:100%;
    height:0;
    clear:both;
}
.top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
    background:#000;
}
.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
    border-right:solid 1px #353535;
}
.top-bar-section ul li.bottom a {
    padding:.5em .8em;
}
.top-bar-section ul li a {
    font-family:'Open Sans', Helvetica, Arial, sans-serif !important;
    text-transform:none;
    font-weight:400;
    font-size:1em;
}
.top-bar-section ul li.top-top > a {
    text-transform:uppercase;
    font-size:.9em;
}
.top-bar-section ul li.social a {
    padding:0 .5em;
}
.top-bar-section ul li.social a:last-child {
    padding-right:1em;
}
.top-bar .toggle-topbar.menu-icon a span {
    font-family:'Open Sans', Helvetica, Arial, sans-serif !important;
    color:#FFFFFF;
}

.links{
    position:center;
}

.opener div#title, .opener div.title-below {
    position:center;
    z-index:50;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-transform:uppercase;
    font-size:.9em;
}

.vid-opener div#title, .vid-opener div.title-below {
    z-index:50;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position: absolute;
}
#title {
    cursor: pointer;
}
div#title h1.title, div.title-below h1.title {
    width:100%;
    margin:9% 0 1%;
    font-family:'Open Sans Condensed', Helvetica, Arial, sans-serif !important;
    font-weight:700;
    font-size:7em;
    letter-spacing:0px;
    line-height:1;
    text-transform:uppercase;
    text-align: center;
    color:#f0f0f5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
    color:rgba(245,245,255,0.9);
    display:block;
    z-index:50;
}
div#title h2.subtitle, div.title-below h2.subtitle {
    width:100%;
    margin:0 0 %;
    font-family:'Open Sans Condensed', Helvetica, Arial, sans-serif !important;
    font-size:2em;
    font-weight:300;
    line-height:1.5;
    text-align:center;
    color:#fafaff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
    color:rgba(245,245,255,0.9);
    display:block;
    z-index:50;
}
div.title-below h2.subtitle {
    margin:20% 0 0!important;
    opacity:0;
    z-index:50;
}
* {
  	font-family:'Merriweather', Georgia, Times, 'Times New Roman', serif;
  	font-weight:400;
}
h1, h2, h3, h1 *, h2 *, h3 * {
  	font-family:'Open Sans Condensed', Helvetica, Arial, sans-serif !important;
  	font-weight:700;
}
p, .row li, .reveal-modal li {
  	color:#333;
    font-size:1.05em;
    line-height:1.9;
    margin-bottom:1.5em;
    list-style:circle inside;
}
#credits .row {
    margin-top:2em;
}
#credits .row .columns p {
    text-indent:0;
    margin-bottom:.05em;
}
#credits p strong a {
    font-weight:700;
    background:white;
    color:black;
}
#credits p strong a:hover {
    color:SteelBlue;
}
#credits .row .columns p:first {
    margin-top:.1em;
}
.reverse h1 {
    background:#000;
    color:#fff;
    padding:.5em;
    width:100%;
    text-align:right;
    margin:.18em 0 0;
    letter-spacing:1px;
    font-size:2em;
}
.infobox p, .infobox li, .infobox#tohelp p a {
    font-family:'Open Sans', Helvetica, Arial, sans-serif !important;
    text-indent:0;
    line-height:1.6;
    margin-bottom:.4em;
}
.infobox#tohelp p {
    margin-bottom:.6em;
}
#tohelp h3 {
    padding-bottom:.5em;
}
.infobox ul {
    margin-bottom:.25em;
}
.infobox h2 {
    margin:0 0 .25em;
}
.reveal-modal .close-reveal-modal {
    font-size:1.375em;
    line-height:1;
    position:absolute;
    top:-0.7em;
    right:-0.6em;
    color:#eee;
    font-weight:bold;
    cursor:pointer;
    -webkit-border-radius:.7em;
    -moz-border-radius:.7em;
    border-radius:.7em;
    border:2px solid #eee;
    width:1.4em;
    height:1.4em;
    padding:.2em 0 0 .285em;
    background:#333;
}
h3.storytitle {
    font-family:'Merriweather', Georgia, Times, serif;
    font-size:4em;
    font-weight:700;
    display:block;
    text-align:center;
    margin: .5em auto 1em;
    padding:.25em 0;
    width:70%;
    border-bottom:1px solid rgba(0,0,0,.3);
}

h4.storytitle_sub {
    font-family:'Merriweather', Georgia, Times, serif;
    font-size:2em;
    font-weight:400;
    display:block;
    text-align:center;
    margin:0 auto 1.5em;
    padding:.5em 0;
    width:70%;
    border-bottom:1px solid rgba(0,0,0,.3);
}


p.lead {
  	font-size:1.15em;
  	line-height:1.7;
  	margin-bottom:1.25em;
  	font-weight:600;
}
p.small {
    font-size:.7em;
    line-height:1.6em;
    margin:0;
    font-weight:400;
}
a, a *, * a, a:visited, a:visited *, * a:visited {
    color:SteelBlue;
}

a:hover, * a:hover, a:hover * {
    color:IndianRed;
}
.photorow {
    margin:2em 0 4em;
    padding:2em;
    width:100%;
}

.twinphoto{
    margin-top:3em;
    margin-bottom:6em;
}

.twinphoto .photoleft {
    width:50%;
    float:left;
    padding:0 .75em;
    display:inline-block;
}
.twinphoto .photoright {
    width:50%;
    float:right;
    padding:0 .75em;
    display:inline-block;
}
.twinphoto .photoleft .caption {
    padding-left:1em;
    max-width:900px;
}
.twinphoto .photoright .caption {
    padding-right:1em;
    max-width:900px;
}
.twinphoto .photoright img,
.twinphoto .photoleft img,
.twinphoto .photoright .caption,
.twinphoto .photoleft .caption {
    margin:0 auto;
    display:block;
}
.centerphoto {
    width:100%;
    padding:0;
    margin:2em 0;
}
.caption {
  	font-size:.9em;
    line-height:1.5;
    color:rgba(0,0,0,0.6);
    padding:.75em 0 0;
    margin:0;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:700;
    font-style:normal;
    cursor:default; 
    text-indent:0;
}
.caption span.captionhed {
    text-transform:uppercase;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:800;
    padding-right:.5em;
}


p.splainer {
    font-style:italic;
    border-left:.5em solid #eee;
    margin:1em;
    padding:0 3em;
}

/* video */
.vid-embed-wrap {
    width:100%;
    position:relative;
    display:block;
    overflow:hidden;
}
.vid-height-space {
    width:100%;
    height:0;
    padding-bottom:56.25%;
}
.vid-embed {
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
}
.vid-embed video {
    width:100%;
    height:100%;
}
.play_icon {
    width:12%;
    position:absolute;
    top:55%;
    right:45%;
    pointer-events:none;
}
div#footer-bar {
    background:black;
    padding:.6em 0 .6em 1.6em;
    margin-top:5em;
}
div#footer-bar ul.social {
    margin:0 auto;
    position:absolute;
    left:45%;
    top:.5em;
}
div#footer-bar ul.social li {
    padding:0 .5em;
    float:left;
    display:inline-block;
}
@media (max-width:940px) {
    #logoimg {
        height:1.3em;
    }
    #logosmall {
        height:1.4em;
        margin:0 1em 0 0;
    }
    div#name2 h1 {
        font-size:1.4em;
        line-height:1em;
        font-weight:300;
        color:#fff;
    }
    .vid-opener {
        height: 
    }
    .top-bar-section ul li.social a {
        padding:1em 40%;
    }
    .top-bar-section ul li.social {
        display:inline-block;
        float:left;
        width:25%;
    }
    .bottom-bar-section ul li.social a {
        padding:1em 40%;
    }

    .opener div#title, .opener div.title-below {
        width:65%;
    }
    div#title h1.title, div.title-below h1.title {
        margin:5% 0 4%;
        font-size:5em;
    }

    div#title h2.subtitle, div.title-below h2.subtitle {
        margin:0;
        font-size:1.4em;
    }
    div.title-below h2.subtitle {
        margin:40% 0 0!important;
    }
    p, .row li, .reveal-modal li {
        color:#333;
        font-size:.95em;
        line-height:1.8;
        margin-bottom:1.25em;
    }
    p.lead {
        font-size:1em;
    }
    .photorow {
        margin-top:1em;
        margin-bottom:1em;
    }
    .photorow img {
        margin-bottom:.5em;
    }
    div#footer-bar ul.social {
        display:none;
    }
    .reveal-modal a.close-reveal-modal {
        padding:.25em 0 0 .3em;
        top:.2em;
        right:.2em;
        line-height:1;
    }
}
@media (max-width:800px) {
    .centergallery .caption {
        font-size:.8em;
    }
    .play_icon {
        width: 15%;
        top: 40%;
    }
     div#title h2.subtitle, div.title-below h2.subtitle {
        visibility: hidden;
    }
}

@media (max-width:600px) {
    .play_icon {
        width: 15%;
        top: 57%;
    }
}

@media (max-width:540px) {
    .opener2, .opener3 {
        margin:5em 0 2.5em;
    }
    h3.storytitle {
        font-size:1.5em;
        margin:.5em auto .5em;
        width:80%;
    }
     h4.storytitle_sub {
        font-size:1em;
        margin:.5em auto 1.5em;
        width:80%;
    }
    .twinphoto .photoleft {
        width:100%;
        float:none;
        padding:0 .75em;
        display:block;
    }
    .twinphoto .photoright {
        width:100%;
        float:none;
        padding:0 .75em;
        display:block;
    }
    .twinphoto .photoleft .caption {
        padding:0;
        margin-bottom:2em;    
    }
    .twinphoto .photoright .caption {
        padding:0;
    }

    .caption {
        font-size:.85em;
        line-height:1.35;
    }
    div#title h1.title, div.title-below h1.title {
        margin:5% 0 8%;
        font-size: 3em;
    }
     .play_icon {
        width: 15%;
        top: 63%;
    }
    video::-webkit-media-controls {
        display:none !important;
    }
}
@media (max-width:540px) and (orientation:landscape) {
    .opener div#title, .opener div.title-below {
        width:65%;
    }
    div#title h1.title, div.title-below h1.title {
        margin:1% 0 4%;
        font-size:3em;
    }
    div#title h2.subtitle, div.title-below h2.subtitle {
        visibility: hidden;
    }
    .infobox p {
        line-height:1.5;
    }
      .play_icon {
        width: 15%;
        top: 30%;
    }
    .darkback_intro {
        padding: 0;

}